<div class="containerApp">
    <main>
        <img
            src='https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg' />
        <h2>Filmes mais populares do momento</h2>

        <ul>
            <li *ngFor="let f of filmes">
                <div class="info">
                    <p>
                        {{f.title}}
                    </p>
                    <p>
                        {{f.overview}}
                    </p>
                </div>

                <img [src]="f.poster_path" alt="Description" />
                <hr />
            </li>
        </ul>
    </main>
</div>