.container-movie{
    display: flex;
}

.container-movie .info{
    margin-right: 40px;
}

.container-movie .info p:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
}

.container-movie .info p:nth-child(2){
    font-size: 20px;
    margin-top: 80px;
}

.container-movie img{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}