.container-movie{
    display: flex;
    position: relative;
}

.container-movie .info{
    margin-right: 40px;
}

.container-movie .info p:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
}

.container-movie .info p:nth-child(2){
    font-size: 20px;
    margin-top: 80px;
}

.container-movie img{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.container-movie .vote{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 65px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.container-movie .star{
    background-color: yellow;
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}